.shopcategory-banner {
  width: 100%;
  margin-top: 20px;
}

.shopcategory-indexSort {
  display: flex;
  margin: 30px 0 20px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-products {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 80px;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}