.offers {
  width: 100%;
  margin-bottom: 80px;
}

.offers-wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  background: linear-gradient(180deg, #fde3e3 0%, #e1ffea22 60%);
  box-shadow: 5px 5px 10px #d3d3d336;
}

.offers-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.offers-left-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 70px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 20px;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.offers-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}


@media(max-width:1024px) {
  .offers.page-width {
    padding: 0;
  }
  .offers-left p {
    font-size: 20px;
  }
}

@media(max-width:767px) {
  .offers-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .offers-left {
    width: 100%;
  }
  .offers-right {
    width: 100%;
  }
  .offers-left-wrapper {
    width: 100%;
    padding: 0 20px 40px;
  }

  .offers-left h1 {
    color: #171717;
    font-size: 36px;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 20px;
  }
  .offers-right img {
    width: 60%;
  }
}