.hero {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  margin-bottom: 50px;
}

.hero-wrapper {
  display: flex;
}

.hero-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 100px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  margin-top: 30px;
}

.hero-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  width: 90%;
}

@media(max-width:1024px) {
  .hero-hand-icon img {
    width: 54px;
  }
  .hero-left p {
    font-size: 6vw;
  }

  .hero-left h2 {
    font-size: 20px;
  }
}

@media(max-width:767px) {
  .hero-wrapper {
    flex-direction: column-reverse;
  }
  .hero-left {
    width: 100%;
    gap: 10px;
  }
  .hero-right {
    width: 100%;
  }
  .hero-left p {
    font-size: 36px;
  }
  .hero-hand-icon img {
    width: 38px;
  }
  .hero-latest-btn {
    margin-top: 18px;
  }
}

